ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background: #44a2e5;
    margin: 0;
    padding: 0px;
    height: 100px;
    align-items: center;
}
.css
{
    background: rgba(239, 201, 54, 0.85);
}